@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    font-family: "Outfit";
}

.card-container {
    max-width: 23.75rem;
    height: 37.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.875rem;
}

.card-container img {
    max-width: 100%;
    padding: 1.25rem;
    border-radius: 2.5rem;
}

h1 {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 1.5rem;
    margin-bottom: 1.875rem;
    color: hsl(218, 44%, 22%);
}

p {
    text-align: center;
    padding: 0 1.5rem;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.2;
    color: hsl(220, 15%, 55%);
}